@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(#ba79f7, #ba79f7);
    background: rgba(0, 0, 0, 0.5);
}

header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #ffffff;
    user-select: none;
    transform: translateX(-120px);
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #000000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px; 
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #000000;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #000000;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover{
    background: #000000;
    color: #ffffff;
}

/*images*/
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before     
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #ba79f7, transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: non e;
}

#text
{
    position: absolute;
    
    color: #ffffff;
    white-space: nowrap;
    font-size: 7.5vw;
    font-weight: 575;
    z-index: 9;
    transform: translateY(-20px);
}
#auto
{
    position: absolute;
    color: #ffffff;
    white-space: nowrap;
    font-size: 3vw;
    z-index: 9;
    transform: translateY(69px);
}
.sec {
    position: relative;
    padding: 100px;
    background: #ba79f7;
}

.sec h2 {
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
}

.sec p {
    font-size: 1.2em;
    color: #000000;
}

.about-content {
    display: flex;
    flex-direction: row; /* Arrange content in a row */
    align-items: center; /* Center vertically within the container */
}

.text-container {
    flex: 3; /* Make the text content flex to fill 75% of the available space */
    padding-right: 20px; /* Add spacing between text and image */
}

.about-image {
    flex: 1; /* Make the image container flex to fill 25% of the available space */
    text-align: right; /* Align the image to the right */ 
}

.about-image img {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto; /* Maintain the image's aspect ratio */
    /*mix-blend-mode: screen; */
}

/* Add this CSS rule to change the background color */
.custom-background {
    background-color: #ba79f7;
}
